<div class="dashboard-container">
  <h2>Bem-vindo ao Dashboard!</h2>

  <div class="dashboard-header">
    <h1>Dashboard Financeiro</h1>
    <div class="menu-buttons">
      <button routerLink="/expenses">Ver Despesas</button>
      <button routerLink="/addExpense">Nova Despesa</button>
    </div>
  </div>

  <div class="summary-section" *ngIf="summary">
    <div class="summary-header">
      <h2>Resumo Financeiro</h2>
      <button class="add-transaction">+ Nova Transação</button>
    </div>

    <div class="cards">
      <div class="card">
        <h3>Saldo</h3>
        <p>R$ {{ summary.balance | number:'1.2-2' }}</p>
      </div>
    </div>

    <div class="latest-expenses">
      <h3>Últimas Despesas</h3>
      <ul>
        <li *ngFor="let expense of summary.expenses">
          <span>{{ expense.description }}</span>
          <span>- R$ {{ expense.amount | number:'1.2-2' }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
